.Roboto { font-family: 'Roboto';  }
.OpenSans { font-family: 'Open Sans '; } 
.Spectral { font-family: 'Spectral '; } 
.Slabo27px { font-family: 'Slabo 27px '; } 
.Lato { font-family: 'Lato '; } 
.RobotoCondensed { font-family: 'Roboto Condensed '; } 
.Oswald { font-family: 'Oswald '; } 
.SourceSansPro { font-family: 'Source Sans Pro '; } 
.Raleway { font-family: 'Raleway '; } 
.Montserrat { font-family: 'Montserrat '; } 
.PTSans { font-family: 'PT Sans '; } 
.RobotoSlab { font-family: 'Roboto Slab '; } 
.Merriweather { font-family: 'Merriweather '; } 
.SairaCondensed { font-family: 'Saira Condensed '; } 
.Saira { font-family: 'Saira '; } 
.SairaSemiCondensed { font-family: 'Saira Semi Condensed '; } 
.SairaExtraCondensed { font-family: 'Saira Extra Condensed '; } 
.Archivo { font-family: 'Archivo '; } 
.Ubuntu { font-family: 'Ubuntu '; } 
.Lora { font-family: 'Lora '; } 
.Manuale { font-family: 'Manuale '; } 
.AsapCondensed { font-family: 'Asap Condensed '; } 
.Faustina { font-family: 'Faustina '; } 
.Cairo { font-family: 'Cairo '; } 
.PlayfairDisplay { font-family: 'Playfair Display '; } 
.DroidSerif { font-family: 'Droid Serif '; } 
.NotoSans { font-family: 'Noto Sans '; } 
.PTSerif { font-family: 'PT Serif '; } 
.DroidSans { font-family: 'Droid Sans '; } 
.Arimo { font-family: 'Arimo '; } 
.Poppins { font-family: 'Poppins '; } 
.TitilliumWeb { font-family: 'Titillium Web '; } 
.Muli { font-family: 'Muli '; } 
.IndieFlower { font-family: 'Indie Flower '; } 
.Mada { font-family: 'Mada '; } 
.PTSansNarrow { font-family: 'PT Sans Narrow '; } 
.NotoSerif { font-family: 'Noto Serif '; } 
.Bitter { font-family: 'Bitter '; } 
.Dosis { font-family: 'Dosis '; } 
.JosefinSans { font-family: 'Josefin Sans '; } 
.Inconsolata { font-family: 'Inconsolata '; } 
.Arvo { font-family: 'Arvo '; } 
.Hind { font-family: 'Hind '; } 
.Cabin { font-family: 'Cabin '; } 
.Oxygen { font-family: 'Oxygen '; } 
.Acme { font-family: 'Acme '; } 
.ArchivoNarrow { font-family: 'Archivo Narrow '; } 
.MuktaVaani { font-family: 'Mukta Vaani '; } 
.Play { font-family: 'Play '; } 
.Cuprum { font-family: 'Cuprum '; } 
.MavenPro { font-family: 'Maven Pro '; } 
.EBGaramond { font-family: 'EB Garamond '; } 
.PassionOne { font-family: 'Passion One '; } 
.RopaSans { font-family: 'Ropa Sans '; } 
.ArchivoBlack { font-family: 'Archivo Black '; } 
.PathwayGothicOne { font-family: 'Pathway Gothic One '; } 
.Exo { font-family: 'Exo '; } 
.LibreFranklin { font-family: 'Libre Franklin '; } 
.CreteRound { font-family: 'Crete Round '; } 
.PTSansCaption { font-family: 'PT Sans Caption '; } 
.SourceCodePro { font-family: 'Source Code Pro '; } 