.TBuilder {
  .tools-wrapper {
    display: flex;
    flex-direction: row;
  }

  .action-panel {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
  }

  .react-grid-item {
    background: #e2e2e2;
    border: 1px dashed rgba(0,0,0,0.5);

    .droppable-element {
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;

      .content {
        background: #eeee;
        height: 100%;
        width: 100%
      }

      .eremove-btn {
        position: absolute !important;
        left: 0;
        top: 0 !important;
        width: fit-content;

        .MuiSvgIcon-root {
          font-size: 20px;
          color: #e225188f;
        }
      }
      .esettings-btn {
        position: absolute;
        right: 0;
        top: 0;

        .MuiSvgIcon-root {
          font-size: 20px;
          color: cornflowerblue;
        }
      }
    }
  }
}

.styles-input-container {
  display: grid !important;
  grid-template-columns: auto auto;
  grid-gap: 12px;
}